[submodule "fancytui"]
	path = fancytui
	url = https://github.com/EhanAhamed/fancytui
[submodule "webCompounder"]
	path = webCompounder
	url = https://github.com/EhanAhamed/webCompounder
[submodule "purpurite/simple.css"]
	path = purpurite/simple.css
	url = https://github.com/purpurite/simple.css
[submodule "purpurite/purpurite"]
	path = purpurite/purpurite
	url = https://github.com/purpurite/purpurite
[submodule "Quizlate"]
	path = Quizlate
	url = https://github.com/EhanAhamed/Quizlate
[submodule "purpurite/monkeytype"]
	path = purpurite/monkeytype
	url = https://github.com/purpurite/monkeytype
